* {
  box-sizing: border-box;
}

.data-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  border-bottom: 1px solid #d7d7d7;
  font-size: 20px;
}

.market-cap-rank {
  text-align: center;
}

.col-2 img {
  height: 40px;
  width: 40px;
}

.coin-ticker {
  text-transform: uppercase;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
}

.col-1 {width: 8.33%;}
.col-2 {width: 8.33%;}
.col-3 {width: 8.33%;}
.col-4 {width: 8.33%;}
.col-5 {width: 8.33%;}
.col-6 {width: 8.33%;}
.col-7 {width: 8.33%;}
.col-8 {width: 8.33%;}
.col-9 {width: 8.33%;}
.col-10 {width: 8.33%;}
.col-11 {width: 8.33%;}
.col-12 {width: 8.33%;}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14 {
  display: none;
}

.col-1, .col-2, .col-3, .col-4,.col-5 {
  font-size: 15px;
  font-weight: bolder;
}

.col-2 img {
  width: 30px;
  height: 30px;
}

.search-header {
  font-size: 18px;
  font-weight: bolder;
}

.search-textbox {
  width: 100%;
}
}

/* For small screens */
@media only screen and (min-width: 600px) and (max-width: 767px) {

  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    display: none;
  }
  
  .col-1, .col-2, .col-3, .col-4,.col-5, .col-6 {
    font-size: 17px;
    font-weight: bolder;
  }
  
  .search-header {
    font-size: 20px;
    font-weight: bolder;
  }

  .search-textbox {
    width: 100%;
  }
}

/* For medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
  .col-8,.col-9, .col-10, .col-11, .col-12 {
    display: none;
  }
  
  .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7 {
    font-size: 20px;
    font-weight: bolder;
  }
  
  .search-header {
    font-size: 23px;
    font-weight: bolder;
  }

  .search-textbox {
    width: 100%;
  }
}

/* For large screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  
  .col-8, .col-9, .col-10, .col-11, .col-12 {
    display: none;
  }
  
  .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7 {
    font-size: 21px;
    font-weight: bolder;
  }
  
  .search-header {
    font-size: 30px;
    font-weight: bolder;
  }

  .search-textbox {
    width: 100%;
  }
}

/* Extra large screens */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {

  .col-9, .col-10, .col-11, .col-12 {
    display: none;
  }

  .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7, .col-8 {
    font-size: 19px;
    font-weight: bolder;
  }

  .search-header {
    font-size: 40px;
    font-weight: bolder;
  }

  .search-textbox {
    width: 100%;
  }
}

@media only screen and (min-width: 1401px) and (max-width: 1600px) {

   .col-11, .col-12 {
    display: none;
  }

  .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7, .col-8, .col-9, .col-10 {
    font-size: 17px;
    font-weight: bolder;
  }

  .search-header {
    font-size: 40px;
    font-weight: bolder;
  }

  .search-textbox {
    width: 100%;
  }
}

@media only screen and (min-width: 1601px) and (max-width: 1870px) {

  .col-12 {
   display: none;
 }

 .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
   font-size: 18px;
   font-weight: bolder;
 }

 .search-header {
  font-size: 40px;
  font-weight: bolder;
}

.search-textbox {
  width: 100%;
}
}

@media only screen and (min-width: 1871px) {

 .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
   font-size: 19px;
   font-weight: bolder;
 }

 .search-header {
  font-size: 45px;
  font-weight: bolder;
}

.search-textbox {
  width: 100%;
}
}